.key {
    font-family: 'Arvo', serif;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 29px;
    text-align: center;
}

body {
    background-color: #a9d0da;
}

.grid-container {
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: 104px 230px;
    border: 1px solid #fafafa;
}

.grid-container > #div-1 .card{
    background-color: #e7e7e7;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

#div-1, .card{
    background-color: rgb(250, 250, 250);
}

#div-1{
    margin-bottom: 1px;
}

#key{
    width: 35px;
    height: 35px;
    background-position: center;
    background-size: cover;
    background-image:url('images/keyboard-key.png');
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 5 ;
   flex-wrap: wrap;
   font-size: 18px;
   margin: 3px;
}

.card{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: 33px 33px 33px 33px 33px 33px;
    padding: 16px;
    justify-content: center;
    align-items: center;
}
#space{
    background-image: url('images/space-bar-key.png');
    width: 62px;
    height: 28px;
    font-size: 15px;
    background-position: center;
    background-size: cover;
}

#arrow{
    background-image: url('images/keyboard-key.png');
    width: 35px;
    height: 35px;
    background-position: center;
    background-size: cover;
    font-size: 14px;
    align-items: center;
}